---
import Layout from "../../layouts/Layout.astro";

const blogPosts = [
  {
    slug: "post1",
    title: "Post 1",
  },
  {
    slug: "post2",
    title: "Post 2",
  },
  {
    slug: "post3",
    title: "Post 3",
  },
];

const allPosts = await Astro.glob("./*.md");
---

<Layout page="Blog">
  <div class="posts">
    {
      blogPosts.map((post) => (
        <div class="post">
          <a href={`/blog/${post.slug}`}>{post.title}</a>
        </div>
      ))
    }
  </div>
</Layout>

<style></style>
