---
import Layout from "../../layouts/Layout.astro";

import { formatBlogPosts } from "../../js/blog";

const allPosts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(allPosts);
---

<Layout page="Blog">
  <div class="posts">
    {
      allPosts.map((post) => (
        <div class="post">
          <h2>{post.frontmatter.title}</h2>
          <a href={`/blog/${post.frontmatter.slug}`}>
            <img
              src={post.frontmatter.image.src}
              alt={post.frontmatter.image.alt}
            />
          </a>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .post {
    padding: 10px;
    border-bottom: 1px solid black;
  }

  img {
    margin-bottom: 20px;
  }

  .post:last-child {
    border-bottom: none;
  }

  h2 {
    font-size: 50px;
    font-weight: bold;
  }
</style>
