---
import Layout from "../layouts/Layout.astro";
---

<Layout page="homepage">
  <p class="font-bold">Fav. Games:</p>
  <ul class="list mb-5">
    <li>mass effect</li>
    <li>final fantasy</li>
    <li>witcher</li>
    <li>dragon age</li>
    <li>tomb raider</li>
  </ul>

  <p class="font-bold">Fav. Shows:</p>
  <ul class="list mb-10">
    <li>daredevil</li>
    <li>young justice</li>
    <li>smallville</li>
    <li>yu yu hakusho</li>
  </ul>
</Layout>

<style></style>
